* {
    font-size: 10px;
}

@font-face {
    font-family: 'AGreg';
    src: url('type/AGreg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'AGbold';
	src: url('type/AGbold.woff') format('woff');
	font-weight: bold;
	font-style: none;
}

body {
    font-family: 'AGreg', sans-serif;
    margin: 60px auto;
    width: 70%;
    font-weight: normal;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-family:'AGreg', sans-serif;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: /* #999; */ #333;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1.2em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
