/* { border: 1px solid black; } */

p {
    margin:0;
    padding:0;
}

body {
	
	background: green; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left top, green, limegreen); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, green, limegreen); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, green, limegreen); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, green, limegreen); /* Standard syntax */
	
	font-family: 'Karla', sans-serif;
}


ul {
	text-align: center;
	list-style-type: none;
	font-size: 3vw;
}

/*container*/

.container {
	padding-top: 5vh;
}

/*positioning*/

.center {
	text-align: center;
}


/*text styles*/

.standard {
	font-size: 3vw;
}

.flowerpower {
	font-size: 20vw;
	color: white;
	font-weight: 700;
}

.description {
	font-size: 5vw;
	color: MistyRose;
	padding: 0 20vw 5vh 22vw;
	
}

.kindness {
	color: yellow;
	padding: 0 20vw;
}

.spacebelow {
	padding-bottom: 10px;
}



/*colors*/

.yellow {
	color: yellow;
}

.orange {
	color: orange;
}
